[Unit]
Description=Filament-Sync-Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/sh /root/Filament-Sync-Service/service/sync.sh k1

[Install]
WantedBy=multi-user.target